@charset "UTF-8";
/* CSS Document */

/* z-index: 9=TEMPTOP, 8=UI ELEMENTS, 7=MINIMAP, 6=STORIES, 5=OTHERTEXT, 4=NEWMAP, 3=OLDMAP, 2=FULLSTORY, 1= */


body {
	background-color: rgba(0,0,0,1);	
	transition: all 1s ease-in-out;
}

/* GENERAL ELEMENTS */


.hidden {
	display: none;	
}
.center {
	text-align: center;	
	position: relative;
	top: 40vh;
	transform: translateY(-50%);	
	margin: 0 auto;
}

/* OTHER ELEMENTS */

.map {
	background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	transition: all 1s ease-in-out;
	z-index: 3;
}
	.old_map {
		background-image: url(../images/oldmap.png);
		z-index: 3;
	}
	.new_map {
		background-image: url(../images/newmap.png);
		z-index: 2;
	}
	.large_map {
		width: 100vw;
		height: 100vh;
		z-index: 2;
	}
	.mini_map {
		width: 15vw;
		height: 15vh;
		z-index: 7;
		
		margin: 20px;
		
		border-radius: 100px;
		border: solid thick black;
	}
	
p.intro {
	z-index: 9;	
	width: 60%;

	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 30px;
}
	
.intro {
	z-index: 9;	
	font-family: 'Clicker Script', cursive;
	color: #fff;
}
.title {
	z-index: 5;
}
	h1.title {
		font-size: 100px;
		font-weight: 900;
	}
	h2.title {
		font-size: 60px;
		font-weight: 100;
	}
	p.title {
		font-size: 50px;
	}
.story {
	z-index: 2;
}
	.story h3 {
		z-index: 6;	
		width: 200px;
		height: 200px;
		background-color: rgba(15,0,0,1.00);
		border-radius: 25px;
	}
	.story .storycontent {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top:0;
		left: 0;
		z-index: 2;	

		background-color: rgba(255,255,255,1.00);
	}