@charset "UTF-8";
/* CSS Document */

/* z-index: 9=TEMPTOP, 8=UI ELEMENTS, 7=MINIMAP, 6=STORIES, 5=OTHERTEXT, 4=NEWMAP, 3=OLDMAP, 2=FULLSTORY, 1= */


body {
	background-color: rgba(0,0,0,1);	
	height: 1000px;
}

/* GENERAL ELEMENTS */


.hidden {
	display: none;	
}
.center {
	text-align: center;	
	position: relative;
	top: 40vh;
	transform: translateY(-50%);	
	margin: 0 auto;
}

.fixed {
	position: fixed;	
}

/* OTHER ELEMENTS */

.map {
	background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 3;
}
	.old_map {
		background-image: url(../images/oldmap.png);
		z-index: 3;
	}
	.new_map {
		background-image: url(../images/newmap.png);
		z-index: 4;
	}
	.large_map {
		width: 100vw;
		height: 100vh;
		position: fixed;
	}
	.mini_map {
		width: 15vw;
		height: 15vh;
		z-index: 7;
		
		margin: 20px;
		
		border-radius: 100px;
		border: solid thick black;
	}
	
h1.title {
	font-size: 80px;
	font-weight: 900;
	margin-top: 50px;
	font-family: 'Clicker Script', cursive;
	text-align: center;
	color:rgba(30,30,30,1.00);	
	z-index: 8;
}
.intro {
	font-family: 'Clicker Script', cursive;
	color: #fff;
	z-index: 9;
}
	p.intro {
		z-index: 9;	
		width: 60%;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		color: #fff;
		font-size: 30px;
	}
	p.date {
		font-size: 100px;
		font-weight: 900;
	}
	p.fact {
		
	}
.story {
	z-index: 2;
}
	.story h3 {
		z-index: 6;	
		width: 200px;
		height: 200px;
		background-color: rgba(15,0,0,1.00);
		border-radius: 25px;
	}
	.story .storycontent {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top:0;
		left: 0;
		z-index: 2;	

		background-color: rgba(255,255,255,1.00);
	}
	.text {
		height: 500px;
		border-bottom: 5px solid black;
	}
.content {
	margin-left: 50px;
}
	
.timeline {
	position: fixed;
	height: 100vh;
	width: 50px;
	background-color:rgba(200,200,200,1.00);
		cursor: pointer;
}
	.scrub_head {
		height: 4px;
		width: 100%;
		background-color:rgba(0,0,0,0.35);
		position: absolute;
		display: block;
		z-index: 5;
		top:0;
		opaity: 1;
	}
		.scrub_head span {
			content: "";	
			width: 50px;
			height: 0%;
			position: fixed;
			top:0;
			background-color:rgba(0,0,0,0.30);
		}
	.scroll_position {
		height: 5px;
		width: 100%;
		background-color: rgba(0,0,0,1);
		display: block;
		position: absolute;
	}
	.poi {
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: rgba(37,37,37,1.00);
		transform-origin: center;
		transform: translate(-50%, -50%);
		border-radius: 50px;
		transition: all 0.2s;
		left: 50%;
		z-index: 9;
	}
		.poi:hover {
			background-color: rgba(158,146,0,1.00);	
		}
		.poi:active {
			background-color: rgba(255,237,0,1.00);	
		}
		.poi_active {
			left: 50%;
			width: 50px;
			height: 50px;
			background-color: rgba(255,237,0,1.00);	
		}
		.poi_active:hover {
			left: 50%;
			width: 50px;
			height: 50px;
			background-color: rgba(255,237,0,1.00);	
		}
		.poi_past {
		background-color: rgba(4,30,120,1.00);
		}
		.poi_expand {
			display: none;
			position: relative;
			width: 300px;
			background-color: rgba(225,229,202,1.00);
			transform: translateY(-50%);
			margin-top: 50%;
			left: 6vw;
			padding: 10px;
		}
			.poi_expand:after {
				content: "";
				width: 50px;
				height: 50px;
				display: block;
				position: absolute;
				background-color: rgba(225,229,202,1.00);
				transform: translateY(-50%) translateX(-50%) rotate(45deg);
				top: 50%;
				z-index: -1;
			}
.audio {
	
}
	.audio_player {
		
	}
.video {
	
}