@charset "UTF-8";
/* CSS Document */

/* z-index: 9=TEMPTOP, 8=UI ELEMENTS, 7=MINIMAP, 6=STORIES, 5=OTHERTEXT, 4=NEWMAP, 3=OLDMAP, 2=FULLSTORY, 1= */


body {
    background-color: rgb(232, 232, 232);
    overflow-y:scroll;
	overflow-x: hidden;
	font-family: 'Enriqueta', serif;
    color: rgba(1,1,1,1);
}

img.cardImage {
    width:100%;
}
.selectBoxContainer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.selectBox {
    width: 250px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: white;
    border-radius: 20px;
    margin:10px;
    overflow:hidden;
    cursor: pointer;
    transition: transform 0.5s;
}
.selectBox:hover {
    transform: scale(1.05);
}

H1.headerPrompt {
    font-size: 36px;
    font-family: roboto;
    font-weight: 300;
    padding-bottom:50px;
    text-align:center;
}

.selectBox h2 {
    font-size: 1.3rem;
    padding:20px;
}
.selectBox h2:hover,.selectBox p:hover {
    text-decoration: none;
}

.selectBox p {
    font-size: 0.7rem;
    padding: 0 20px 20px 20px;
}
#bookmarkPlayerContainer {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:999;
    display: none;
}